.projectCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.projectContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px;
  gap: 16px;
  background-color: #1e1e1e;
  flex-grow: 1;
}

.projectContent h4 {
  font-size: 20px;
  font-weight: 600;
  color: white;
  font-family: "Inter", sans-serif;
}
